{% extends "base.html" %}
{% load set_var %}
{% block head %}
  {{ head }}

{% endblock %}

{% block content  %}
    <h1>Llista de tots els SMS</h1>
    <div class="row row-padded">
        <div class="col-sm-4 col-sm-offset-5 col-lg-offset-6 col-md-offset-6 col-md-4 col-lg-4">
            <div class="btn-group">
                <button type="button" id="totenviar" class="btn btn-default btn-info">enviar</button>
                <button type="button" id="totanular" class="btn btn-default btn-info">anular</button>
                <button type="button" id="totres" class="btn btn-default btn-info">res</button>
            </div>

        </div>
    </div>

{% set dia = "" %}
{% set curs = "***" %}
    {% if formset %}
        <div class="clearfix"></div>
        <br/>
    <form action="" class="inline-form" method="POST">{% csrf_token %}
        {{ formset.management_form }}

    {% for form in formset %}

        {% ifnotequal form.instance.dia  dia %}
            {% set dia = form.instance.dia %}
            <h3 style="background: lightgray;padding: 10px;">{{ dia }}</h3>
            {% set curs = "" %}
        {% endifnotequal %}

        {% ifnotequal curs form.instance.alumne.grup%}
                {% set curs = form.instance.alumne.grup %}
                <div class="col-lg-1 col-sm-1 col-md-1"  style="border-bottom: 1px solid black; padding: 2px; width: 100%; margin-bottom: 5px;"><h4>{{ curs }}</h4></div>
            <div class="clearfix"></div>
            {% endifnotequal %}


        <div class="row row-padded">

        <div class="col-lg-4 col-md-4 col-sm-3" style="line-height: 34px; vertical-align: middle;"> {{ form.instance.alumne }}</div>

        {{ form.id }}
        <!-- DAVID -- TODO -- 2.0 -- Aixo es queda aixi de moment, falta saber com recollir telfs... -->
        <div class="col-lg-4 col-md-4 col-sm-3" style="line-height: 34px; vertical-align: middle;"> {{ form.instance.telefon }}</div>
        {% for field in form.visible_fields %}
            <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                {{ field }}
		        {% if field.errors %}
			        <div class="alert alert-danger">
			        <button type="button" class="close" data-dismiss="alert">&times;</button>
				        <ul>
				          {% for error in field.errors%}
				          <li>{{ error }}</li>
			              {% endfor %}
			            </ul>
		         	</div>
		        {% endif %}
	        </div>
        {% endfor %}
        {% if form.instance.intents != 0 %}
            <div class="col-lg-2 col-md-2 col-sm-1 alert-danger" style="vertical-align: middle;" > {{ form.instance.intents }}</div>
        {% endif %}

        </div>
        <hr class="visible-xs"/>
    {% empty %}
        <h2>No hi han SMS pendents d'enviar.</h2>
    {% endfor %}
        <div class="clearfix"></div>
        <br/>
        <button class="btn btn-lg btn-info">ENVIA</button>
        </form>
    {% endif %}

{% endblock %}

{% block extrahead %}
    <style type="text/css">
      .btn.btnenviar.active,
      .btn.btnenviar:active {
        background-color: #4cae4c;
        border-color: #449d44;
      }
      .btn.btnanular.active,
      .btn.btnanular:active {
        background-color: #eea236;
        border-color: #ec971f;
        color: white;
      }
    </style>
<script>

function totnet() {
    $(".btn").removeClass("active");
    $(".rad").prop("checked", false);
}
$(document).ready(function() {
    $('#totenviar').click(function() {
        totnet();
        $('.btnenviar').trigger('click');
        $(".btnenviar .rad").prop("checked", true);
    });
    $('#totanular').click(function() {
        totnet();
        $('.btnanular').trigger('click');
        $(".btnanular .rad").prop("checked", true);
    });
    $('#totres').click(function() {
        totnet();
        $('.btnres').trigger('click');
        $(".btnres .rad").prop("checked", true);
    });

});
</script>



{% endblock %}

